<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/main.css'/>
    <link rel='stylesheet' href='/fonts/fonts-museo-700.css'/>
    <link rel='stylesheet' href='/fonts/fonts-lucidagrande-bold.css'/>
</head>
<body>
{{{body}}}
</body>
<script>window.translations = {{{json translations}}};</script>
<script src="/js/bundle.js"></script>
</html>
