<div class="table">
    <div>
        <div class="header">{{t "title"}}</div>
        <div class="header">{{t "sum"}}</div>
    </div>
    {{#each deals}}
        <div>
            <div>{{person_name}}</div>
            <div>{{formatted_value}}</div>
        </div>
    {{/each}}
</div>