<aside id="contacts-list">{{{list}}}</aside>
<article class="content">
    <h3 class="half title-name">{{name}}</h3>
    <h3 class="half title-deals">{{t "deals"}}</h3>
    <div class="wrapper">
        <div id="contact-contact" class="half"></div>
        <div id="contact-deals" class="half"></div>
    </div>
</article>