<form>
    <input required type="email" name="email" placeholder="{{t 'email'}}">
    <input required type="password" name="password" placeholder="{{ t 'password' }}">
    <input type="submit">
</form>
<p class="error"></p>